body {
  margin: 0;
  padding: 0;
}

.markerButton {
  width: 50px;
  height: 54px;
}

.markerButton:hover{
  cursor: pointer;
  opacity: 0.8;
}

.markerButton {
  background-color: none;
  border: none;
}





