.filterSection {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.filterSection input {
  font-size: 24px;
}

.filterSection select {
  font-size: 26px;
}

.allfindLinkWrapper{
  display: flex;
  flex-wrap: wrap;
  width:80vw;
  gap: 60px;
  overflow: auto;
  height: 77vh;
  align-content: flex-start;
}

.allfindLink {
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden
}

.allfindLink img{
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.allfindLinkText {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: rgba(204, 198, 198, 0.5);
  opacity: 0;
}

.allfindLinkText:hover {
  opacity: 1;
}